@charset "UTF-8";

body {
    margin:0px;
    padding:0px;
    background-attachment: scroll;
}

#news {
    margin-left: 5%;
    margin-right: 5%;
    width:80%;
    height:80%;
    background-attachment: scroll;
}

#top_bar_black {
    width:100%;
    height:90px;
    background-color:#000000;
}

#text {
    margin-left: 5%;
    color: aliceblue;
    font-size: x-large;
}

#bottom_bar_black {
    width:100%;
    height:160px;
    background-color:#000000;
}

#copywriteblock {
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    color:#333333;
    font-size:10px;
    margin-top:10px;
    text-align:right;
    text-decoration:none;
    margin-bottom:10px;
}
