@charset "UTF-8";

body {
    margin:0px;
    padding:0px;
    background-attachment: scroll;
}

#title {
    color: darkkhaki;
    text-align: left;
}

#news {
    width:60%;
    height:80%;
    text-align: left;
    margin:15px;
    padding:15px;
}

#top_bar_black {
    width:100%;
    height:90px;
    background-color:#000000;
}

#text {

    color: aliceblue;
    font-size: x-large;
}



#bottom_bar_black {
    width:100%;
    height:160px;
    background-color:#000000;
}

#copywriteblock {
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    color:#333333;
    font-size:10px;
    margin-top:10px;
    text-align:right;
    text-decoration:none;
    margin-bottom:10px;
}